body {
  background-image: url("/home/sonu/Videos/wedding/sonu rathor weding/101D3300/DSC_0068.JPG");
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  background-attachment: fixed;
}